
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen/Evaluacion</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        <h1>Categories</h1>
        <div class="container">
        <div class="row justify-content-start">
        <div v-for="category in categories" :key="category.id_category" class="category">
          
          <div v-if="grid">
            <div class="row">
              <div class="col">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">{{category.name}}</h5>
                    <div v-if="category.name == 'Home Theater'">
                      <h2> I love home theater!</h2>
                    </div>
                    <button type="button" class="btn btn-danger" v-on:click="deleteCategory(category.id_category)">Borrar categoria</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div v-else>
            <div class="col">
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{category.name}}</h5>
                  <div v-if="category.name == 'Home Theater'">
                    <h2> I love home theater!</h2>
                  </div>
                  <button type="button" class="btn btn-danger" v-on:click="deleteCategory(category.id_category)">Borrar categoria</button>
                </div>
              </div>
            </div>
          </div>


        </div>
        </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script>
        const {createApp} = Vue;
        const application = createApp({
          data() {
              return {
                  urlBase: 'http://localhost:5000',
                  categories: [],
                  grid: true
              }
          },
          methods: {
              changeGrid() {
                this.grid = !this.grid;
              },
              async CallApi(url, method, data) {
                  const header = data == null? { method: method,
                                                headers: {'Content-Type': 'application/json'}} :
                                              { method: method,
                                                body: JSON.stringify(data),
                                                headers: {'Content-Type': 'application/json'}}
                  try {
                      const response = await fetch(url, header);
                      return await response.json();
                  }
                  catch(error) {
                      alert('Hubo un error.')
                  }
              },
              async deleteCategory(id) {
                const result = await this.CallApi(this.urlBase + '/category/' + id, 'DELETE', null)
              }
          },
          mounted() {
              fetch('http://localhost:5000/category')
                .then(res => res.json())
                .then(data => this.categories = data)
                .catch(err => console.log(err.message))
          }
        });
        application.mount('#app')
    </script>
</body>
</html>